body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
  color: #40514e;
}

/*for dynamic font size(% and em) if body also contain font size then bodysize + h1size gets added giving huge size to h1 , so use rem which removes parent properties*/
h1 {
  /* to give size in % 16px 90px/16 = 562.5 to get size equivalent to 90px */
  /* to give size in em 16px = 100% = 1em ie 5.625em to get size equivalent to 90px*/
  font-size: 4.375rem;
  margin: 0px auto 0px auto;
  font-family: "Bungee Shade", cursive;
  color: #66bfbf;
  /* for width: 10%;
        margin: 0 auto 0 auto; OR margin: 0 auto (1.top bottom 2.left right)*/
}

h2 {
  font-family: "Press Start 2P", cursive;
  font-size: 1.875rem; /* 30/16 */
  color: #66bfbf;
  font-weight: normal;
}

h3 {
  font-size: 1.875rem;
  color: #11999e;
}

a {
  color: #11999e;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #eaf6f6;
}

p {
  line-height: 2;
}

hr {
  border: dotted #d3d3d3 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.top-container {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0 0px;
}

.bottom-container {
  background-color: #add8e6;
  padding: 50px 0 20px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.design_develop {
  width: 20%;
  float: left;
  margin-right: 30px;
}

.bugcrowd {
  width: 20%;
  float: right;
  margin-left: 30px;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px; /* top left-right bottom */
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: -webkit-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #ffffff;
  font-family: "Merriweather", serif;
  font-size: 20px;
  font-weight: 100;
  padding: 10px 20px 10px 20px;
  border-color-hover: ;
  border-style-hover: solid;
  border-width-hover: 1;
  -webkit-box-shadow: 1px 1px 20px 0 #000000;
  -moz-box-shadow: 1px 1px 20px 0 #000000;
  box-shadow: 1px 1px 20px 0 #000000;
  text-shadow: 1px 1px 20px #000000;
  border: solid #337fed 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin: 50px auto;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -webkit-gradient(to bottom, #30e3cb, #2bc4ad);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}

.copyright {
  color: #009699;
  padding: 20px 0px;
}
